/* BGBODY START*/
body{
    background-color: #03355e;
}

/* -----------------  NavBar Start -----------------*/
.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    border: 3px solid #53a8b6;
    border-radius: 5px;    

    background-color: #79c2d0;

    

}
.navbar-component{
    display: flex;
    flex-direction: row;


    flex: 1;


    /*border: 1px solid grey; */
}
.navbar-component > div {
    display: flex;
    font-size:18px;

    border: 2px #5585b5 solid;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: .5vh;
    padding-bottom: .5vh;

    margin-left: .3vw;
    margin-right: .3vw;
    margin-top: .5vh;
    margin-bottom: .5vh;

    background-color: #bbe4e9;
    
    text-emphasis-color: #5585b5;
}
#navbar-right{
    justify-content: flex-end;
}   
#navbar-center{
    display: flex;
    justify-content: center;
}   
#navbar-left{
    justify-content: flex-start;
}


/* -----------------  Body Start -----------------*/
#body{
    margin-top: 2vh;
    display:flex;
}
#body > div{
    /*border:5px solid black;*/
    border-radius: 10px;
}
#left-body{
    flex:10;

}
#right-body{
    flex:10;
}
#middle-body{
    display:flex;
    flex:80;
    flex-direction: column;
    align-items:stretch;

    background-color: #0b2f4d;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    
}

/* actual about me and photo */
.about-me{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    border: 3px solid #2a3bcf;
    border-radius: 5px;    

    background-color: #118663;

    
}
