.div {
  border-radius: 10px;
  /* background-color: #717488; */
  padding: 20px;
  /* width: 50%; */
  margin: auto;
  margin-top: 3%;
  font-family: "Courier New", Courier, monospace;
  color: black;
}

hr {
  border: 4px solid aqua;
  width: 20%;
}

body {
  background-color: #2f3e4a;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.resize {
  width: 60%;
  height: 100%;
}

.padding {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* border: 3px solid #53a8b6; */
  border-radius: 5px;
  background-color: gray;
}
.navbar-component {
  display: flex;
  flex-direction: row;
  flex: 1;
  /*border: 1px solid grey; */
}
.navbar-component > div {
  display: flex;
  font-size: 18px;
  /* border: 2px #5585b5 solid; */
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  background-color: #2f3e4a;

  text-emphasis-color: #5585b5;
}
#navbar-right {
  justify-content: flex-end;
}
#navbar-center {
  display: flex;
  justify-content: center;
}
#navbar-left {
  justify-content: flex-start;
}
