h1{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #ebebeb;
}
.mainBody {
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    border: 3px solid #000000;
    border-radius: 15px;
  

    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 2vw;
    padding-left: 2vw;

    margin-top: 6vh;
    margin-bottom: 1vh;
    margin-right: 25vw;
    margin-left: 25vw;
}


/*Nav bar done by group member Miguel Garalde Melo */
.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    border: 3px solid rgba(0,0,0,0.5);
    border-radius: 5px;    

    background-color: rgba(0,0,0,0.5);

    

}
.navbar-component{
    display: flex;
    flex-direction: row;


    flex: 1;


    /*border: 1px solid grey; */
}
.navbar-component > div {
    display: flex;
    font-size:18px;

    border: 2px #000000 solid;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: .5vh;
    padding-bottom: .5vh;

    margin-left: .3vw;
    margin-right: .3vw;
    margin-top: .5vh;
    margin-bottom: .5vh;

    background-color: #D3D3D3;
    
    text-emphasis-color: #000000;
}
#navbar-right{
    justify-content: flex-end;
}   
#navbar-center{
    display: flex;
    justify-content: center;
}   
#navbar-left{
    justify-content: flex-start;
}

